<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <div class = "headerContainer">
        <div class="headerDate">current date</div>
        <a class="headerLink" href="/">Home</a>
        <a class="headerLink" href="/work">Work</a>
        <div class="headerTitle">things to get done</div>
    </div>  
</body>

</html>