<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow&display=swap" rel="stylesheet">
</head>

<body>
    <%- include("partials/header.ejs") %>
    <div class="toDoContainer">
            <% for (let i=0; i<locals.text.length; i++) { %>
            <div class="toDoRow">
                <input type="checkbox">
                <p><%= locals.text[i] %> </p>
            </div>
            <% } %>
        <form action="/submit" method="POST" class="toDoAdd">
            <input class="addItem" type="text" name="postedText" required="required" placeholder="add to do item">
            <button type="submit">+</button>
        </form>
    </div>

    <%- include("partials/footer.ejs") %>

</body>

</html>
