<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <main>
    <div class="toDoContainer">
        <div class="toDoRow">
            <input type="checkbox">
            <p>item 1</p>
        </div>
        <div class="toDoRow">
            <input type="checkbox">
            <p>item 2</p>
        </div>
        <div class="toDoAdd">
            <input type="text" placeholder="add to do item">
            <button type="submit">+</button>
        </div>
    </div>
    </main>
</body>

</html>
