.toDoContainer{
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 50px 50px 50px;
}

.toDoRow{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.toDoAdd{
    display:grid;
    grid-template-columns: 5fr 1fr;
}