.toDoContainer{
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 50px 50px 50px;
}

.toDoRow{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.toDoAdd{
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.headerContainer{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

.headerDate{
    text-align: left;
}

.headerLink{
    text-align: right;
}

.headerTitle{
    text-align: center;
    grid-area: 2/1/2/4;
}